.lightui {
  --tint: #2488F5;
  --tint-dark: #004AB1;
  --tint-light: #3492F9;
  --label-primary: #272728;
  --label-secondary: rgba(0,0,0,0.48);
  --background-primary: #E9EAF2;
  --background-secondary: #DDDEE7;
  --seperator: rgba(0,0,0,0.17);
  --on-tint: #FFFFFF;
  --highlight: rgba(0,0,0,0.04);
  --icon-stroke: #BBBBBB; }

.darkui {
  --tint: #2488F5;
  --tint-dark: #004AB1;
  --tint-light: #3492F9;
  --label-primary: #FEFEFE;
  --label-secondary: rgba(255,255,255,0.48);
  --background-primary: #383944;
  --background-secondary: #2D2F36;
  --seperator: rgba(255,255,255,0.17);
  --on-tint: #FFFFFF;
  --highlight: rgba(255,255,255,0.04);
  --icon-stroke: #BBBBBB; }

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Bold.woff);
  font-weight: 800; }

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Medium.woff);
  font-weight: 500; }

html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none; }

body {
  height: 100%;
  width: 100%;
  font-size: 13px;
  font-family: Inter;
  line-height: 1.3em;
  position: relative;
  margin: 0px;
  padding: 0px;
  background-color: var(--background-secondary); }

* {
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: Inter;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

h1 {
  font-family: Inter;
  font-weight: 800;
  font-size: 72px;
  color: var(--label-primary);
  text-align: center;
  line-height: 88px; }
  @media (max-width: 1240px) {
    h1 {
      font-size: 64px;
      line-height: 72px; } }
  @media (max-width: 800px) {
    h1 {
      font-size: 56px;
      line-height: 64px; } }
  @media (max-width: 700px) {
    h1 {
      font-size: 36px;
      line-height: 42px; } }
  @media (max-width: 400px) {
    h1 {
      font-size: 28px;
      line-height: 36px; } }

h2 {
  font-family: Inter;
  font-weight: 800;
  font-size: 48px;
  color: var(--label-primary);
  text-align: left;
  line-height: 72px; }
  @media (max-width: 600px) {
    h2 {
      font-size: 32px;
      line-height: 48px; } }
  h2.overline {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    color: var(--tint);
    letter-spacing: -0.3px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 16px; }
    @media (max-width: 800px) {
      h2.overline {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 8px; } }
    @media (max-width: 600px) {
      h2.overline {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 4px; } }
  h2 span {
    color: var(--tint); }
  h2 + p {
    opacity: 0.5;
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    color: var(--tint);
    line-height: 32px; }

h3 {
  font-family: Inter;
  font-weight: 800;
  font-size: 26px;
  color: var(--label-primary);
  text-align: left;
  line-height: 36px;
  margin-bottom: 56px; }
  @media (max-width: 800px) {
    h3 {
      font-size: 22px;
      line-height: 30px; } }
  @media (max-width: 600px) {
    h3 {
      font-size: 20px;
      line-height: 28px; } }
  h3:last-child {
    margin: 0px; }
  h3.overline {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    color: var(--tint);
    letter-spacing: -0.3px;
    text-align: left;
    line-height: 32px;
    margin-bottom: 4px; }

a.button {
  display: inline-block;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none; }
  a.button.primary {
    padding: 8px 16px;
    background: var(--tint);
    color: var(--on-tint);
    border-radius: 8px;
    transition: background .3s, color .3s, box-shadow .3s; }
    a.button.primary:hover {
      background: var(--tint-light);
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 16px 26px 0 rgba(0, 0, 0, 0.25), inset 0 1px 1px 0 rgba(255, 255, 255, 0.2); }
  a.button.secondary {
    padding: 2px 16px;
    color: var(--tint);
    float: right; }
    a.button.secondary:hover {
      color: var(--tint-light); }
    @media (max-width: 800px) {
      a.button.secondary {
        display: none; } }

.section {
  width: 100%;
  border-bottom: 1px solid var(--seperator); }
  .section .container {
    position: relative;
    width: calc(100% - 40px);
    max-width: 1280px;
    margin: 0px auto;
    height: auto;
    overflow: auto;
    padding: 15vh 0px 20vh 0px; }
    @media (max-width: 1024px) {
      .section .container {
        transform: none;
        top: 0px;
        height: auto;
        padding: 5vh 0px 10vh 0px; } }
    @media (max-width: 600px) {
      .section .container {
        width: 90%; } }
    @media (max-height: 900px) {
      .section .container {
        padding: 10vh 0px 15vh 0px; } }
    @media (max-height: 800px) {
      .section .container {
        padding: 10vh 0px 15vh 0px; } }
    @media (max-height: 700px) {
      .section .container {
        padding: 10vh 0px 10vh 0px; } }
    @media (max-height: 600px) {
      .section .container {
        padding: 10vh 0px 10vh 0px; } }
    .section .container:after {
      content: "";
      display: table;
      clear: both; }
  @media (max-width: 800px) {
    .section {
      height: auto; } }

.intro {
  height: 100vh;
  text-align: center; }
  .intro header {
    position: relative;
    width: calc(100% - 40px);
    max-width: 1280px;
    height: 184px;
    margin: 0px auto;
    padding-top: 48px; }
    @media (max-width: 1024px) {
      .intro header {
        padding-top: 24px;
        height: 160px; } }
    .intro header img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      text-align: center;
      margin-top: 8px; }
  .intro .container {
    position: relative;
    height: auto;
    width: 55%; }
    @media (max-width: 1280px) {
      .intro .container {
        width: 60%; } }
    @media (max-width: 1100px) {
      .intro .container {
        width: 70%; } }
    @media (max-width: 960px) {
      .intro .container {
        width: 80%; } }
    @media (max-width: 800px) {
      .intro .container {
        width: 90%; } }
    .intro .container a.button.primary {
      margin-top: 24px;
      transform: scale(1.2); }
  .intro .for-sketch {
    display: inline-block;
    padding: 7px 10px 7px 32px;
    background-image: url("../assets/sketch-logo.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 9px 8px;
    background-color: var(--background-primary);
    border-radius: 26px;
    float: right;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.27px;
    line-height: 16px;
    color: var(--label-primary); }

.three .color-palette {
  position: relative;
  left: 20%;
  width: 80%;
  height: auto;
  padding: 16px 16px 8px 16px;
  border-radius: 4px;
  background-color: var(--background-primary);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 8px 16px 26px 0 rgba(0, 0, 0, 0.25), inset 0 1px 1px 0 rgba(255, 255, 255, 0.2);
  transform: perspective(800px) rotateX(10deg) rotateY(-15deg) rotateZ(5deg) scale(1);
  transition: transform .3s; }
  @media (max-width: 900px) {
    .three .color-palette {
      width: 90%;
      left: 0%; } }
  @media (max-width: 800px) {
    .three .color-palette {
      width: 300px;
      left: 0;
      margin: 24px auto;
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0px 16px 26px 0 rgba(0, 0, 0, 0.25), inset 0 1px 1px 0 rgba(255, 255, 255, 0.2);
      transform: perspective(800px) rotateX(10deg) rotateY(0deg) rotateZ(0deg) scale(0.8); } }
  .three .color-palette h3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    color: var(--label-secondary);
    line-height: 24px;
    text-transform: uppercase;
    margin: 0px 0px 8px 0px; }
  .three .color-palette ul {
    list-style: none; }
    .three .color-palette ul li {
      padding: 6px 0px;
      line-height: 30px;
      font-size: 16px;
      color: var(--label-primary);
      letter-spacing: 0;
      line-height: 30px; }
      .three .color-palette ul li span {
        display: inline-block;
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 12px;
        border-radius: 15px;
        box-shadow: inset 0 0 0 2px var(--seperator); }
        .three .color-palette ul li span.tint {
          background-color: var(--tint); }
        .three .color-palette ul li span.tint-dark {
          background-color: var(--tint-dark); }
        .three .color-palette ul li span.on-tint {
          background-color: var(--on-tint); }
        .three .color-palette ul li span.label-primary {
          background-color: var(--label-primary); }
        .three .color-palette ul li span.label-secondary {
          background-color: var(--label-secondary); }
        .three .color-palette ul li span.background {
          background-color: var(--background-primary); }
        .three .color-palette ul li span.seperator {
          background-color: var(--seperator); }

.three .column {
  position: relative;
  width: 50%;
  float: right;
  padding: 0px 8%; }
  @media (max-width: 800px) {
    .three .column {
      padding: 0px 5% 60px 5%;
      width: 100%;
      float: none; } }

.two .container {
  padding: 5vh 0% 5vh 0%; }
  @media (max-width: 800px) {
    .two .container {
      width: 100%; } }
  .two .container .column:nth-child(1) {
    position: relative;
    width: 60%;
    float: left;
    padding: 20vh 8% 25vh 8%;
    height: 100%; }
    @media (max-width: 1280px) {
      .two .container .column:nth-child(1) {
        padding: 10vh 8% 15vh 8%; } }
    @media (max-width: 900px) {
      .two .container .column:nth-child(1) {
        padding: 5vh 8% 10vh 8%; } }
    @media (max-width: 700px) {
      .two .container .column:nth-child(1) {
        padding: 0px;
        position: relative;
        width: 100%;
        float: none; } }
  .two .container .column:nth-child(2) {
    position: absolute;
    width: 60%;
    left: 40%;
    padding: 40px 8%;
    top: 45%;
    transform: translateY(-50%); }
    @media (max-width: 1000px) {
      .two .container .column:nth-child(2) {
        left: 30%;
        width: 70%; } }
    @media (max-width: 700px) {
      .two .container .column:nth-child(2) {
        position: relative;
        padding: 0px;
        left: 20px;
        width: calc(100% - 40px);
        float: none;
        margin-top: 30%; } }

.two .phone {
  position: relative;
  width: 224px;
  height: 486px;
  left: 10%;
  border-radius: 24px;
  background-color: var(--background-primary);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), -8px 16px 26px 0 rgba(0, 0, 0, 0.25), inset 0 1px 1px 0 rgba(255, 255, 255, 0.2);
  overflow: hidden;
  transition: transform .3s;
  transform: perspective(800px) rotateX(10deg) rotateY(10deg) rotateZ(-15deg) scale(1.2); }
  @media (max-width: 700px) {
    .two .phone {
      transform: perspective(800px) rotateX(10deg) rotateY(10deg) rotateZ(-15deg) scale(0.9);
      left: 15%; } }
  .two .phone .header {
    position: relative;
    width: 100%;
    height: 240px;
    background-image: linear-gradient(180deg, var(--tint-dark) 0%, var(--tint) 100%); }
    .two .phone .header .navigation-bar {
      position: relative;
      width: 100%;
      height: 55px;
      border-bottom: 1px solid var(--seperator); }
      .two .phone .header .navigation-bar .title {
        position: relative;
        width: 84px;
        height: 6px;
        top: 36px;
        left: 70px;
        background-color: var(--on-tint);
        border-radius: 3px; }
    .two .phone .header .overline {
      opacity: .5;
      position: relative;
      width: 52px;
      height: 2px;
      top: 58px;
      left: 86px;
      background-color: var(--on-tint);
      border-radius: 3px; }
    .two .phone .header .title {
      position: relative;
      width: 136px;
      height: 20px;
      top: 72px;
      left: 46px;
      background-color: var(--on-tint);
      border-radius: 10px; }
  .two .phone ul {
    list-style: none;
    padding-left: 10px;
    width: 100%; }
    .two .phone ul li {
      width: 100%;
      height: 39px;
      border-bottom: 1px solid var(--seperator); }
      .two .phone ul li .list-label {
        position: relative;
        width: 84px;
        height: 4px;
        top: 18px;
        left: 0px;
        background-color: var(--label-primary);
        border-radius: 10px; }
      .two .phone ul li:last-child {
        border-bottom: none; }
  .two .phone .tab-bar {
    position: relative;
    width: 100%;
    height: 46px;
    border-top: 1px solid var(--seperator); }
    .two .phone .tab-bar .tab-bar--tabs {
      position: relative;
      width: 138px;
      height: 16px;
      top: 8px;
      left: 44px; }
      .two .phone .tab-bar .tab-bar--tabs span {
        display: inline-block;
        position: relative;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        border: 2px solid var(--icon-stroke); }
        .two .phone .tab-bar .tab-bar--tabs span:nth-child(1) {
          border: 2px solid var(--tint);
          background-color: var(--tint); }
        .two .phone .tab-bar .tab-bar--tabs span:nth-child(2) {
          left: 44px; }
        .two .phone .tab-bar .tab-bar--tabs span:last-child {
          float: right; }
  .two .phone .home-indicator {
    position: relative;
    width: 72px;
    height: 3px;
    top: 28px;
    left: 76px;
    background-color: var(--label-primary);
    border-radius: 3px; }

.footer {
  background-color: var(--tint-dark);
  text-align: center; }
  .footer .container {
    width: 55%; }
    @media (max-width: 1280px) {
      .footer .container {
        width: 60%;
        padding: 15vh 0px 25vh 0px; } }
    @media (max-width: 1100px) {
      .footer .container {
        width: 70%; } }
    @media (max-width: 960px) {
      .footer .container {
        width: 80%;
        padding: 15vh 0px 25vh 0px; } }
    @media (max-width: 800px) {
      .footer .container {
        width: 90%;
        padding: 15vh 0px 25vh 0px; } }
  .footer h1, .footer h2, .footer h3 {
    color: var(--on-tint); }
  .footer .button.primary {
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--high);
    margin-top: 24px; }
    .footer .button.primary:hover {
      background-color: var(--on-tint); }
  .footer footer {
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: var(--seperator);
    bottom: 0px; }
    .footer footer p {
      display: block;
      width: calc(100% - 40px);
      max-width: 1280px;
      text-align: left;
      margin: 24px auto;
      color: var(--on-tint); }
      @media (max-width: 400px) {
        .footer footer p {
          width: calc(100% - 20px);
          margin: 32px auto 16px auto;
          padding: 0px;
          text-align: center;
          font-size: 11px; } }
      .footer footer p a {
        color: var(--on-tint); }

.tabs {
  display: block;
  width: 100%;
  height: 24px;
  box-shadow: inset 0px 0px 0px 1px var(--seperator);
  border-radius: 4px;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none; }
  .tabs button.tab {
    display: block;
    width: 50%;
    height: 24px;
    padding: 0px;
    float: left;
    outline: none;
    background: none;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    background-image: none;
    color: var(--label-primary);
    font-size: 11px;
    line-height: 24px;
    font-weight: 500;
    cursor: pointer; }
    .tabs button.tab:hover {
      background: var(--highlight); }
    .tabs button.tab.active {
      background: var(--tint);
      color: var(--on-tint); }

#switch {
  z-index: 100;
  position: fixed;
  left: calc(50% - 100px);
  bottom: 48px;
  padding: 3px;
  height: 30px;
  width: 200px;
  border-radius: 6px;
  background-color: var(--background-primary);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 16px 26px 0 rgba(0, 0, 0, 0.25), inset 0 1px 1px 0 rgba(255, 255, 255, 0.2); }
  @media (max-width: 400px) {
    #switch {
      transform: scale(1.1); } }
  #switch .tabs {
    float: left;
    width: 100%;
    border-radius: 3px; }
  #switch .hint {
    display: inline-block;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    color: var(--label-secondary);
    letter-spacing: -0.3px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    bottom: 40px;
    left: 0px;
    width: 100%;
    transform: translateY(0px);
    transition: all .3s; }
    #switch .hint.hide {
      opacity: 0;
      transform: translateY(10px); }

@keyframes loading {
  0% {
    bottom: 40px;
    transform: translateY(0px);
    animation-timing-function: ease-in; }
  50% {
    transform: translateY(10px);
    animation-timing-function: ease-out; }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-in; } }
