.lightui {
  --tint-1: rgba(0,255,211,0.20);
  --tint-2: rgba(254,214,0,0.20);
  --tint-3: rgba(0,5,255,0.20);
  --label-1: rgba(13,13,13,0.99);
  --label-2: rgba(3,3,3,0.70);
  --background-1: #FFFFFF;
  --background-2: #EEEEEE; }

.darkui {
  --tint-1: rgba(0,255,211,0.20);
  --tint-2: rgba(254,214,0,0.20);
  --tint-3: rgba(0,5,255,0.20);
  --label-1: rgba(254,254,254,0.99);
  --label-2: rgba(254,254,254,0.70);
  --background-1: #0D0D0D;
  --background-2: #EEEEEE; }

html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none; }

body {
  height: 100%;
  width: 100%;
  font-size: 13px;
  font-family: urbane, sans-serif;
  line-height: 1.3em;
  position: relative;
  margin: 0px;
  padding: 0px;
  background-color: var(--background-secondary); }

* {
  margin: 0px;
  padding: 0px;
  font-family: urbane, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 56px;
  color: var(--label-1);
  text-align: left;
  margin-bottom: 24px; }

h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: var(--label-1);
  text-align: left; }

h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  color: var(--label-2);
  text-align: left;
  margin-bottom: 24px; }

h6 {
  font-weight: 500;
  font-size: 15px;
  line-height: 36px;
  color: var(--label-2);
  text-align: left; }

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--label-2);
  text-align: left; }

.container {
  width: calc(100% - 64px);
  max-width: 1400px;
  margin: 0px auto; }

.header {
  padding: 96px 0; }
  .header h1, .header h3, .header h6 {
    width: 50%; }

.products .product {
  position: relative;
  width: calc(50% - 20px);
  height: 356px;
  float: left;
  padding: 40px; }
  .products .product:nth-child(2) {
    margin-left: 40px; }
  .products .product:nth-child(4) {
    margin-left: 40px; }
  .products .product:nth-child(6) {
    margin-left: 40px; }
  .products .product .for-sketch {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    width: 60%;
    margin-bottom: 4px;
    padding-left: 24px;
    background: url(../assets/icon-sketch.svg) no-repeat top left; }
  .products .product h2 {
    width: 60%;
    margin-bottom: 12px; }
  .products .product p {
    width: 60%;
    margin-bottom: 12px; }
  .products .product .button {
    position: absolute;
    left: 40px;
    bottom: 40px; }
  .products .product img {
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px; }

a.button {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--background-1);
  padding: 8px 12px;
  background-color: var(--label-1); }
