@import "theme.scss";

html{
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
}
body{
	height: 100%;
	width: 100%;

	font-size: 13px;
	font-family:  urbane, sans-serif;
	line-height: 1.3em;

	position: relative;
	margin: 0px;
	padding: 0px;

	background-color: var(--background-secondary);
}

*{
	margin: 0px;
	padding: 0px;

	font-family:  urbane, sans-serif;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;

	box-sizing: border-box;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

//Typography
h1{
	font-weight: 600;
	font-size: 50px;
	line-height: 56px;
	color: var(--label-1);
	text-align: left;

	margin-bottom: 24px;
}
h2{
	font-weight: 500;
	font-size: 32px;
	line-height: 40px;
	color: var(--label-1);
	text-align: left;
}
h3{
	font-weight: 500;
	font-size: 22px;
	line-height: 36px;
	color: var(--label-2);
	text-align: left;

	margin-bottom: 24px;
}
h6{
	font-weight: 500;
	font-size: 15px;
	line-height: 36px;
	color: var(--label-2);
	text-align: left;
}
p{
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: var(--label-2);
	text-align: left;
}

//Framework

.container{
	width: calc(100% - 64px);
	max-width: 1400px;
	margin: 0px auto;
}

//Header
.header{
	padding: 96px 0;

	h1, h3, h6{
		width: 50%
	}
}

//Products
.products{
	.product{
		position: relative;

		width: calc(50% - 20px);
		height: 356px;
		float: left;

		padding: 40px;

		&:nth-child(2){
			margin-left: 40px;
		}
		&:nth-child(4){
			margin-left: 40px;
		}
		&:nth-child(6){
			margin-left: 40px;
		}

		.for-sketch{
			display: inline-block;
			font-size: 14px;
			line-height: 24px;
			width: 60%;
			margin-bottom: 4px;

			padding-left: 24px;
			background: url(../assets/icon-sketch.svg) no-repeat top left;
		}

		h2{
			width: 60%;
			margin-bottom: 12px;
		}

		p{
			width: 60%;
			margin-bottom: 12px;
		}

		&updated{}

		.button{
			position: absolute;
			left: 40px;
			bottom: 40px;
		}

		img{
			position: absolute;
			height: 100%;
			top: 0px;
			right: 0px;
		}
	}
}

//Buttons
a.button{
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	color: var(--background-1);

	padding: 8px 12px;
	
	background-color: var(--label-1);
}
