@import "theme.scss";

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Bold.woff);
  font-weight: 800;
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Medium.woff);
  font-weight: 500;
}

html{
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
}
body{
	height: 100%;
	width: 100%;

	font-size: 13px;
	font-family: Inter;
	line-height: 1.3em;

	position: relative;
	margin: 0px;
	padding: 0px;

	background-color: var(--background-secondary);
}

*{
	margin: 0px;
	padding: 0px;

	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-family: Inter;

	box-sizing: border-box;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

//Typography
h1{
	font-family: Inter;
	font-weight: 800;
	font-size: 72px;
	color: var(--label-primary);
	text-align: center;
	line-height: 88px;

	@media (max-width: 1240px){
	  font-size: 64px;
	  line-height: 72px;
	}
	@media (max-width: 800px){
	  font-size: 56px;
	  line-height: 64px;
	}
	@media (max-width: 700px){
	  font-size: 36px;
	  line-height: 42px;
	}
	@media (max-width: 400px){
	  font-size: 28px;
		line-height: 36px;
	}
}
h2{
	font-family: Inter;
	font-weight: 800;
	font-size: 48px;
	color: var(--label-primary);
	text-align: left;
	line-height: 72px;

	@media (max-width: 600px){
	  font-size: 32px;
	  line-height: 48px;
	}

	&.overline{
		font-family: Inter;
		font-weight: 500;
		font-size: 24px;
		color: var(--tint);
		letter-spacing: -0.3px;
		text-align: center;
		line-height: 32px;

		margin-bottom: 16px;

		@media (max-width: 800px){
		  font-size: 20px;
		  line-height: 28px;
		  margin-bottom: 8px;
		}
		@media (max-width: 600px){
		  font-size: 16px;
		  line-height: 24px;
		  margin-bottom: 4px;
		}
	}
	
	span{
		color: var(--tint);
	}

	+ p{
		opacity: 0.5;
		font-family: Inter;
		font-weight: 500;
		font-size: 18px;
		color: var(--tint);
		line-height: 32px;
	}
}
h3{
	font-family: Inter;
	font-weight: 800;
	font-size: 26px;
	color: var(--label-primary);
	text-align: left;
	line-height: 36px;

	margin-bottom: 56px;

	@media (max-width: 800px){
	  font-size: 22px;
	  line-height: 30px;
	}
	@media (max-width: 600px){
	  font-size: 20px;
	  line-height: 28px;
	}

	&:last-child{
		margin: 0px;
	}

	&.overline{
		font-family: Inter;
		font-weight: 500;
		font-size: 20px;
		color: var(--tint);
		letter-spacing: -0.3px;
		text-align: left;
		line-height: 32px;

		margin-bottom: 4px;
	}
}


//Buttons

a.button{
	display: inline-block;
	font-family: Inter;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;

	&.primary{
		padding: 8px 16px;
		background: var(--tint);
		color: var(--on-tint);
		border-radius: 8px;
		transition: background .3s, color .3s, box-shadow .3s;

		&:hover{
			background: var(--tint-light);
			box-shadow: 0 0 1px 0 rgba(0,0,0,0.20), 0 16px 26px 0 rgba(0,0,0,0.25), inset 0 1px 1px 0 rgba(255,255,255,0.20);
		}
	}
	&.secondary{
		padding: 2px 16px;
		color: var(--tint);
		float: right;

		&:hover{
			color: var(--tint-light);
		}

		@media (max-width: 800px){
		  display: none;
		}
	}
}

//Framework

.section{
	width: 100%;
	border-bottom: 1px solid var(--seperator);

	.container{
		position: relative;
		width: calc(100% - 40px);
		max-width: 1280px;
		margin: 0px auto;
		height: auto;
		overflow: auto;
		padding: 15vh 0px 20vh 0px;

		@media (max-width: 1024px){
		  transform: none;
		  top: 0px;
		  height: auto;

		  padding: 5vh 0px 10vh 0px;
		}
		@media (max-width: 600px){
		  width: 90%;
		}
		@media (max-height: 900px){
		  padding: 10vh 0px 15vh 0px;
		}

		@media (max-height: 800px){
		  padding: 10vh 0px 15vh 0px;
		}
		@media (max-height: 700px){
		  padding: 10vh 0px 10vh 0px;
		}
		@media (max-height: 600px){
		  padding: 10vh 0px 10vh 0px;
		}

		@include clear();
	}
	@media (max-width: 800px){
	  height: auto;
	}
}

//Sections
.intro{
	height: 100vh;
	text-align: center;

	header{
		position: relative;
		width: calc(100% - 40px);
		max-width: 1280px;
		height: 184px;
		margin: 0px auto;
		padding-top: 48px;

		@media (max-width: 1024px){
			padding-top: 24px;
			height: 160px;
		}

		img{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			display: inline-block;
			text-align: center;
			margin-top: 8px; 
		}
	}

	.container{
		position: relative;
		height: auto;
		width: 55%;

		@media (max-width: 1280px){
		  width: 60%;
		}
		@media (max-width: 1100px){
		  width: 70%;
		}
		@media (max-width: 960px){
		  width: 80%;
		}
		@media (max-width: 800px){
		  width: 90%;
		}

		a.button.primary{
			margin-top: 24px;

			transform: scale(1.2);
		}
	}

	.for-sketch{
		display: inline-block;
		padding: 7px 10px 7px 32px;
		background-image: url('../assets/sketch-logo.png');
		background-size: 16px;
		background-repeat: no-repeat;
		background-position: 9px 8px;
		background-color: var(--background-primary);
		border-radius: 26px;
		float: right;

		font-family: Inter;
		font-weight: 500;
		font-size: 14px;
		letter-spacing: -0.27px;
		line-height: 16px;
		color: var(--label-primary);
	}
}

.three{
	.color-palette{
		position: relative;
		left: 20%;	
		width: 80%;
		height: auto;
		padding: 16px 16px 8px 16px;
		border-radius: 4px;
		background-color: var(--background-primary);
		box-shadow: 0 0 1px 0 rgba(0,0,0,0.20), 8px 16px 26px 0 rgba(0,0,0,0.25), inset 0 1px 1px 0 rgba(255,255,255,0.20);
		transform: perspective(800px) rotateX(10deg) rotateY(-15deg) rotateZ(5deg) scale(1);
		transition: transform .3s;

		@media (max-width: 900px){
		  width: 90%;
		  left: 0%;
		}
		@media (max-width: 800px){
		  width: 300px;
		  left: 0;
		  margin: 24px auto;
		  box-shadow: 0 0 1px 0 rgba(0,0,0,0.20), 0px 16px 26px 0 rgba(0,0,0,0.25), inset 0 1px 1px 0 rgba(255,255,255,0.20);
		  transform: perspective(800px) rotateX(10deg) rotateY(0deg) rotateZ(0deg) scale(.8);
		}

		h3{
			font-family: Inter;
			font-weight: 500;
			font-size: 14px;
			color: var(--label-secondary);
			line-height: 24px;
			text-transform: uppercase;
			margin: 0px 0px 8px 0px;
		}

		ul{
			list-style: none;

			li{
				padding: 6px 0px;
				line-height: 30px;
				font-size: 16px;
				color: var(--label-primary);
				letter-spacing: 0;
				line-height: 30px;

				span{
					display: inline-block;
					float: left;
					width: 30px;
					height: 30px;
					margin-right: 12px;

					border-radius: 15px;
					box-shadow: inset 0 0 0 2px var(--seperator);

					&.tint{background-color: var(--tint);}
					&.tint-dark{background-color: var(--tint-dark);}
					&.on-tint{background-color: var(--on-tint);}
					&.label-primary{background-color: var(--label-primary);}
					&.label-secondary{background-color: var(--label-secondary);}
					&.background{background-color: var(--background-primary);}
					&.seperator{background-color: var(--seperator);}
				}
			}
		}
	}
	.column{
		position: relative;
		width: 50%;
		float: right;
		padding: 0px 8%;

		@media (max-width: 800px){
			padding: 0px 5% 60px 5%;
			width: 100%;
			float: none;
		}
	}
}

.two{	
	.container{
		padding: 5vh 0% 5vh 0%;
		@media (max-width: 800px){
			width: 100%;
		}
		.column:nth-child(1){
			position: relative;
			width: 60%;
			float: left;
			padding: 20vh 8% 25vh 8%;
			height: 100%;

			@media (max-width: 1280px){
				padding: 10vh 8% 15vh 8%;
			}
			@media (max-width: 900px){
				padding: 5vh 8% 10vh 8%;
			}
			@media (max-width: 700px){
				padding: 0px;
				position: relative;
				width: 100%;
				float: none;
			}
		}
		.column:nth-child(2){
			position: absolute;
			width: 60%;
			left: 40%;
			padding: 40px 8%;
			top: 45%;
			transform: translateY(-50%);

			@media (max-width: 1000px){
				left: 30%;
				width: 70%;
			}

			@media (max-width: 700px){
				position: relative;
				padding: 0px;
				left: 20px;
				width: calc(100% - 40px);
				float: none;
				margin-top: 30%;
			}
		}
	}

	.phone{
		position: relative;
		width: 224px;
		height: 486px;
		left: 10%;
		border-radius: 24px;
		background-color: var(--background-primary);
		box-shadow: 0 0 1px 0 rgba(0,0,0,0.20), -8px 16px 26px 0 rgba(0,0,0,0.25), inset 0 1px 1px 0 rgba(255,255,255,0.20);
		overflow: hidden;

		transition: transform .3s;
		transform: perspective(800px) rotateX(10deg) rotateY(10deg) rotateZ(-15deg) scale(1.2);

		@media (max-width: 700px){
			transform: perspective(800px) rotateX(10deg) rotateY(10deg) rotateZ(-15deg) scale(.9);
			left: 15%;
		}

		.header{
			position: relative;
			width: 100%;
			height: 240px;
			background-image: linear-gradient(180deg, var(--tint-dark) 0%, var(--tint) 100%);

			.navigation-bar{
				position: relative;
				width: 100%;
				height: 55px;
				border-bottom: 1px solid var(--seperator);

				.title{
					position: relative;
					width: 84px;
					height: 6px;
					top: 36px;
					left: 70px;
					background-color: var(--on-tint);
					border-radius: 3px;
				}
			}

			.overline{
				opacity: .5;
				position: relative;
				width: 52px;
				height: 2px;
				top: 58px;
				left: 86px;
				background-color: var(--on-tint);
				border-radius: 3px;
			}
			.title{
				position: relative;
				width: 136px;
				height: 20px;
				top: 72px;
				left: 46px;
				background-color: var(--on-tint);
				border-radius: 10px;
			}
		}

		ul{
			list-style: none;
			padding-left: 10px;
			width: 100%;

			li{
				width: 100%;
				height: 39px;
				border-bottom: 1px solid var(--seperator);

				.list-label{
					position: relative;
					width: 84px;
					height: 4px;
					top: 18px;
					left: 0px;
					background-color: var(--label-primary);
					border-radius: 10px;
				}
				&:last-child{
					border-bottom: none;
				}
			}
		}

		.tab-bar{
			position: relative;
			width: 100%;
			height: 46px;
			border-top: 1px solid var(--seperator);

			.tab-bar--tabs{
				position: relative;
				width: 138px;
				height: 16px;
				top: 8px;
				left: 44px;

				span{
					display: inline-block;
					position: relative;
					width: 16px;
					height: 16px;
					border-radius: 8px;
					border: 2px solid var(--icon-stroke);

					&:nth-child(1){
						border: 2px solid var(--tint);
						background-color: var(--tint);
					}

					&:nth-child(2){
						left: 44px;
					}

					&:last-child{
						float: right;
					}
				}
			}
		}

		.home-indicator{
			position: relative;
			width: 72px;
			height: 3px;
			top: 28px;
			left: 76px;
			background-color: var(--label-primary);
			border-radius: 3px;
		}
	}
}

.footer{
	background-color: var(--tint-dark);
	text-align: center;

	.container{
		width: 55%;

		@media (max-width: 1280px){
		  width: 60%;
		  padding: 15vh 0px 25vh 0px;
		}
		@media (max-width: 1100px){
		  width: 70%;
		}
		@media (max-width: 960px){
		  width: 80%;
		  padding: 15vh 0px 25vh 0px;
		}
		@media (max-width: 800px){
		  width: 90%;
		  padding: 15vh 0px 25vh 0px;
		}
	}

	h1, h2, h3{
		color: var(--on-tint);
	}

	.button.primary{
		background-color: rgba(255,255,255,.9);
		color: var(--high);

		margin-top: 24px;

		&:hover{
			background-color: var(--on-tint);
		}
	}

	footer{
		position: absolute;
		width: 100%;
		height: 64px;
		background-color: var(--seperator);

		bottom: 0px;

		p{
			display: block;
			width: calc(100% - 40px);
			max-width: 1280px;
			text-align: left;
			margin: 24px auto;

			color: var(--on-tint);


			@media (max-width: 400px){
				width: calc(100% - 20px);
				margin: 32px auto 16px auto;
				padding: 0px;
				text-align: center;
				font-size: 11px;
			}

			a{
				color: var(--on-tint);
			}
		}
	}
}

//Tabs
.tabs{
	display: block;

	width: 100%;
	height: 24px;

	box-shadow: inset 0px 0px 0px 1px var(--seperator);
	border-radius: 4px;

	overflow: hidden;

	-webkit-user-select: none;
  	user-select: none;

	button.tab{
		display: block;

		width: 50%;
		height: 24px;
		padding: 0px;
		float: left;
		outline: none;

		background: none;
		border-radius: 0px;
		border: none;
		box-shadow: none;
		background-image: none;

		color: var(--label-primary);
		font-size: 11px;
		line-height: 24px;
		font-weight: 500;

		cursor: pointer;

		&:hover{
			background: var(--highlight);
		}

		&.active{
			background: var(--tint);
			color: var(--on-tint);
		}
	}
}

#switch{
	z-index: 100;
	position: fixed;
	left: calc(50% - 100px);
	bottom: 48px;
	padding: 3px;
	height: 30px;
	width: 200px;
	border-radius: 6px;
	background-color: var(--background-primary);
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.20), 0 16px 26px 0 rgba(0,0,0,0.25), inset 0 1px 1px 0 rgba(255,255,255,0.20);

	@media (max-width: 400px){
		transform: scale(1.1);
	}

	.tabs{
		float: left;
		width: 100%;
		border-radius: 3px;
	}
	.hint{
		display: inline-block;
		font-family: Inter;
		font-weight: 500;
		font-size: 16px;
		color: var(--label-secondary);
		letter-spacing: -0.3px;
		text-align: center;
		line-height: 32px;

		position: absolute;
		bottom: 40px;
		left: 0px;
		width: 100%;
		transform: translateY(0px);

		transition: all .3s;

		&.hide{
			opacity: 0;
			transform: translateY(10px);
		}
	}

	@keyframes loading {
		0%   {
			bottom: 40px;
			transform: translateY(0px);
			animation-timing-function: ease-in;
		}
		50%  {
			transform: translateY(10px);
			animation-timing-function: ease-out;
		}
		100% {
			transform: translateY(0px);
			animation-timing-function: ease-in;
		}
	}
}

