@import "core/theme.scss";
@import "core/typography.scss";
@import "components/components.scss";

html{
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
}
body{
	height: 100%;
	width: 100%;

	position: relative;
	margin: 0px;
	padding: 0px;

	background-color: var(--background-1);
}

*{
	margin: 0px;
	padding: 0px;

	font-family:  urbane, sans-serif;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;

	box-sizing: border-box;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


//Framework

.container{
	width: calc(100% - 80px);
	max-width: 1400px;
	margin: 0px auto;

	@media (max-width: 600px){
		width: calc(100% - 48px);
	}
}
