.lightui{
	// Colors
	--tint: #2488F5;
	--tint-dark: #004AB1;
	--tint-light: #3492F9;

	--label-primary: #272728;
	--label-secondary: rgba(0,0,0,0.48);
	--background-primary: #E9EAF2;
	--background-secondary: #DDDEE7;
	--seperator: rgba(0,0,0,0.17);
	--on-tint: #FFFFFF;
	--highlight: rgba(0,0,0,0.04);
	--icon-stroke: #BBBBBB;
}
.darkui{
	// Colors
	--tint: #2488F5;
	--tint-dark: #004AB1;
	--tint-light: #3492F9;

	--label-primary: #FEFEFE;
	--label-secondary: rgba(255,255,255,0.48);
	--background-primary: #383944;
	--background-secondary: #2D2F36;
	--seperator: rgba(255,255,255,0.17);
	--on-tint: #FFFFFF;
	--highlight: rgba(255,255,255,0.04);
	--icon-stroke: #BBBBBB;
}

//Utilities
@mixin clear(){
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}