section.updates{
    @include container(grid);

    h2{
        @include text-headline-1;
        color: var(--label-1);
        width: calc(50% - calc(2 * var(--unit)));
        margin-top: -12px;
        margin-left: calc(2 * var(--unit));
        margin-bottom: calc(5 * var(--unit));

        @media (max-width: 800px){
            position: relative;
            margin-top: 0px;
        }
    }
    section{
        width: calc(50% - calc(4 * var(--unit)));
        padding-left: calc(2 * var(--unit));
        padding-right: calc(2 * var(--unit));
        
        article{
            width: 100%;
            margin-bottom: calc(10 * var(--unit));
    
            h3{
                display: inline-block;
                @include text-headline-4;
                color: var(--label-1);
                margin-bottom: var(--unit);
                padding: 0 calc(1.5 * var(--unit));
                background: var(--tint);
            }
            p{
                @include text-body-1;
                color: var(--label-2);
            }
        }
    }
    //1 column
    @media (max-width: 700px){
        width: calc(100% - calc(10 * var(--unit)));

        section{
            width: 100%;
            margin-bottom: calc(5 * var(--unit));
        }
    }

    &.icons{
        img{
            height: 2.5em;
            width: 2.5em;
            float: left;

            margin-right: 0.5em;
        }
        p{
            margin-left: 3em;
        }
    }
}