section.updates{
    @include container();

    h2{
        position: absolute;
        @include text-headline-1;
        color: var(--label-1);
        width: 100%;
        margin-top: -12px;
        margin-bottom: calc(5 * var(--unit));

        @media (max-width: 800px){
            position: relative;
            margin-top: 0px;
        }
    }

    article{
        width: calc(50% - (2 * var(--unit)));
        margin-left: calc(50% + (2 * var(--unit)));
        margin-bottom: calc(10 * var(--unit));

        h3{
            display: inline-block;
            @include text-headline-4;
            color: var(--label-1);
            margin-bottom: var(--unit);
            padding: 0 calc(1.5 * var(--unit));
            background: var(--tint);
        }
        p{
            @include text-body-1;
            color: var(--label-2);
        }

        //2 columns
        @media (max-width: 800px){
            width: 100%;
            margin-left: 0;
            margin-bottom: calc(5 * var(--unit));
        }
        //1 column
        @media (max-width: 600px){
            width: 100%;
        }
    }

    &.icons{
        img{
            height: 2.5em;
            width: 2.5em;
            float: left;

            margin-right: 0.5em;
        }
        p{
            margin-left: 3em;
        }
    }
}