.lightui{
	--label-1: rgba(13,13,13,0.99);
	--label-2: rgba(3,3,3,0.70);
	--label-3: rgba(3,3,3,0.50);

	--background-1: #FFFFFF;
	--background-2: #EEEEEE;

	--highlight:  rgba(0,0,0,.2);

	//Tints
	[product="color-system"]{
		--tint: rgba(0,99,255,0.20);
	}	
	[product="app-icon-template"]{
		--tint: rgba(255,0,83,0.20);
	}	
	[product="noter"]{
		--tint: rgba(0,5,255,0.20);
	}	
}
.darkui{
	--label-1: rgba(254,254,254,0.99);
	--label-2: rgba(254,254,254,0.70);
	--label-3: rgba(254,254,254,0.50);

	--background-1: #0D0D0D;
	--background-2: #EEEEEE;

	--highlight:  rgba(255,255,255,.3);

	//Tints
	[product="color-system"]{
		--tint: rgba(0,99,255,0.20);
	}	
	[product="app-icon-template"]{
		--tint: rgba(255,0,83,0.20);
	}	
	[product="noter"]{
		--tint: rgba(0,5,255,0.20);
	}
}

// //Product Tints
// html[product="color-system"]{
// 	&.lightui{
// 		// Colors
// 		--tint: rgba(0,99,255,0.20);
// 	}
// 	&.darkui{
// 		// Colors
// 		--tint: rgba(0,99,255,0.20);
// 	}
// }
// html[product="app-icon-template"]{
// 	&.lightui{
// 		// Colors
// 		--tint: rgba(255,0,83,0.20);
// 	}
// 	&.darkui{
// 		// Colors
// 		--tint: rgba(255,0,83,0.20);
// 	}
// }
// html[product="noter"]{
// 	&.lightui{
// 		// Colors
// 		--tint: rgba(0,5,255,0.20);
// 	}
// 	&.darkui{
// 		// Colors
// 		--tint: rgba(3,3,3,0.50);
// 	}
// }

//sizes
:root{
	--unit: 8px;
}

//Utilities
@mixin clear(){
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}
