.lightui{
	// Colors
	--tint-1: rgba(0,99,255,0.20);
	--tint-2: rgba(255,0,83,0.20);
	--tint-3: rgba(0,5,255,0.20);

	--label-1: rgba(13,13,13,0.99);
	--label-2: rgba(3,3,3,0.70);
	--label-3: rgba(3,3,3,0.50);

	--background-1: #FFFFFF;
	--background-2: #EEEEEE;

	--highlight:  rgba(0,0,0,.2);
}
.darkui{
	// Colors
	--tint-1: rgba(0,99,255,0.20);
	--tint-2: rgba(255,0,83,0.20);
	--tint-3: rgba(0,5,255,0.20);

	--label-1: rgba(254,254,254,0.99);
	--label-2: rgba(254,254,254,0.70);
	--label-3: rgba(254,254,254,0.50);

	--background-1: #0D0D0D;
	--background-2: #EEEEEE;

	--highlight:  rgba(255,255,255,.3);
}

//Utilities
@mixin clear(){
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}
